.container {
  position: relative;
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.7;
}

.container:hover{
  opacity: 0.5;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #d1c8b2;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.text-block:hover {
  /*ingrandisco il box di un pochino*/
}
