@import "src/assets/styles/colors.scss";

.toolbar{
  background-color: $greenbar;
}

.toolbarButtons{
  margin: auto;
  background-color:transparent;
}

button {
  font-family: honey;
  font-size: 30px;
  color: white;
}
