<div class="titolo">
  <div class="separatore green2" fxHide.xs>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
  </div>
  <span class="text">Per la chiesa</span>
  <div class="separatore green2" fxHide.xs>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
  </div>
</div>

<div class="containerRSVP">
  <div class="left sb first">
    <div class="titolettoCont">
      <span class="titoletto bold">
        Parrocchia di Santa Maria Goretti
      </span>
    </div>

    <div class="mappa">
      <span class="descrizione bold">
        Via Vittorio Actis, 20, Torino TO
      </span>
      <img src="../../assets/images/mappa_chiesa.png" class="mappa_ristorante" height="300px" width="auto"
        (click)="navigateTo('ristorante')" />
      <div class="gmapLink flex">
        <a href="https://goo.gl/maps/viiADx5rWwoHY1qY6" class="button">Maps</a>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="../../assets/images/santa_maria_goretti.jpg" class="immagine" />
  </div>
</div>



<div class="titolo">
  <div class="separatore green2" fxHide.xs>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
  </div>
  <span class="text">Festeggiamo!</span>
  <div class="separatore green2" fxHide.xs>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
  </div>
</div>

<div class="containerRSVP">
  <div class="left" fxHide fxShow.gt-xs>
    <img src="../../assets/images/cascina_marietta.jpg" class="immagine" />
  </div>
  <div class="right sb">
    <div class="first">
      <span class="titoletto bold">
        Cascina Marinetta
      </span>
    </div>

    <span class="descrizione" style="padding-top: 10px; padding-bottom: 10px;">
      Non sappiamo ancora come e se potremo fare la festa.<br>Vi terremo aggiornati su eventuali sviluppi nelle prossime
      settimane!
    </span>

    <div class="mappa">
      <span class="descrizione bold">
        Via Bergoglio, 56, Cherasco CN
      </span>
      <img src="../../assets/images/mappa_ristorante.png" class="mappa_ristorante" height="300px" width="auto"
        (click)="navigateTo('ristorante')" />
      <div class="gmapLink flex">
        <a href="https://goo.gl/maps/yfgZiwV4a8xNbUpW6" class="button">Maps</a>
      </div>
    </div>

  </div>
  <div class="left" fxHide fxShow.xs>
    <img src="../../assets/images/cascina_marietta.jpg" class="immagine" />
  </div>
</div>

<!-- <div>
  <img src="../../assets/images/cascina_marietta.jpg" />
</div> -->


<div class="titolo green" id="rsvp">
  <div class="separatore white" fxHide.xs>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
  </div>
  <span class="text">RSVP</span>
  <div class="separatore white" fxHide.xs>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
    <span class="dot" fxHide.sm></span>
  </div>
</div>
<div class="flex green1">
  <div class="formRSVP">
    <form [formGroup]="rsvpForm">
      <div class="control">
        <mat-form-field style="width: 100%;">
          <label class="inputLabel">Nome*</label>
          <input matInput formControlName="nome" placeholder="" class="inputStyle">
          <mat-error *ngIf="rsvpForm.controls.nome">{{getErrorNome()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="control">
        <mat-form-field style="width: 100%">
          <label class="inputLabel">Cognome*</label>
          <input matInput formControlName="cognome" placeholder="" class="inputStyle">
          <mat-error *ngIf="rsvpForm.controls.cognome">{{getErrorCognome()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="control">
        <mat-form-field style="width: 100%">
          <label class="inputLabel">Email*</label>
          <input type="email" matInput formControlName="email" placeholder="" class="inputStyle">
          <mat-error *ngIf="rsvpForm.controls.email">{{getErrorEmail()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="control">
        <mat-form-field style="width: 100%">
          <label class="inputLabel">Adulti*</label>
          <input type="number" matInput formControlName="adulti" placeholder="" class="inputStyle">
          <mat-error *ngIf="rsvpForm.controls.adulti">{{getErrorAdulti()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="control">
        <mat-form-field style="width: 100%">
          <label class="inputLabel">Bambini</label>
          <input type="number" matInput formControlName="bambini" placeholder="" class="inputStyle">
          <mat-error *ngIf="rsvpForm.controls.adulti">{{getErrorBambini()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="control">
        <mat-form-field style="width: 100%">
          <label class="inputLabel">Intolleranze</label>
          <textarea matInput formControlName="intolleranze" class="inputAreaStyle"></textarea>
        </mat-form-field>

      </div>
      <label>*campo obbligatorio</label>
    </form>

    <button mat-raised-button disabled (click)="submitRSVP()" type="submit">Impossibile confermare al momento</button>
    <!--[disabled]="rsvpForm.controls.nome.value === '' || rsvpForm.controls.cognome.value === '' ||
          rsvpForm.controls.email.hasError('required') ||  rsvpForm.controls.adulti.hasError('min')
          || rsvpForm.controls.adulti.hasError('required') || rsvpForm.controls.bambini.hasError('min')" -->

  </div>
</div>
