@import "src/assets/styles/colors.scss";

.inputStyle {
  height: 30px;
  font-size: 20px;
  padding: 2px;
  font-family: avenir-regular;
}

.inputAreaStyle {
  height: 100px;
  font-size: 20px;
  padding: 2px;
  font-family: avenir-regular;
}

.inputLabel {
  font-family: avenir-regular;
  font-size: 18px !important;
  height: auto;
}

.titolo {
  width: 100%;
  height: 100px;
  color: $green2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  .text {
    font-family: honey; /*avenir-regular*/
    font-size: 80px; /*40px*/
    line-height: 150%;
    margin: 0 30px;
  }
  .separatore {
    display: flex;
    justify-content: space-between;
    .dot {
      width: 10px;
      height: 10px;
      margin-right: 16px;
    }
  }

  &.green {
    color: white;
    background-color: $green1;
  }
}

.formRSVP {
  width: 90%;
  padding: 10px;
  background-color: $green1;
  margin-bottom: 20px;
  // border-radius: 12px;

  .control {
    padding: 0 8px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 8px;
    &:focus-within {
      label {
        color: $green4;
      }
    }
  }

  label {
    font-size: 12px;
    line-height: 150%;
    font-family: avenir-regular;
    font-weight: 800;
    color: white;
  }

  button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  input {
    background-color: white;
  }

  textarea {
    background-color: white;
  }
}

::ng-deep .mat-form-field {
  .mat-form-field-infix {
    // background-color: $green3;
    border: 0;
    padding: 0;
  }
  .mat-form-field-underline {
    display: none !important;
  }
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: $green1;
  }
  .mat-form-field-ripple {
    background-color: $green1;
  }
  .mat-form-field-required-marker {
    color: $green1;
  }
  .mat-input-element {
    color: black;
  }
}

::ng-deep .mat-form-field.mat-form-field-invalid {
  .mat-input-element {
    color: $error;
  }
  .mat-form-field-label {
    color: $error;
    .mat-form-field-required-marker {
      color: $error;
    }
  }
  .mat-form-field-ripple {
    background-color: $error;
  }
}

::ng-deep .mat-error {
  color: $error;
}

.containerRSVP {
  width: 100%;
  display: flex;
  height: 700px;
  padding: 0 50px;
  margin-bottom: 50px;
  &.green {
    background-color: $green1;
  }

  .left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
  }
  .right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
  }

  .sb {
    justify-content: space-between;
  }
  .immagine {
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    // border-radius: 8px;

    &.h {
      height: 100%;
      width: unset;
    }
  }
  .descrizione {
    font-family: avenir-regular;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    &.bold {
      font-family: avenir-bold;
    }
  }
}

.mappa {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 80%;
    height: auto;
    // border-radius: 20px;
    display: block;
  }
  .gmapLink {
    width: 80px;
    height: auto;
    border-top: none;
    margin-top: 20px;

    .linkMaps {
      padding: auto;
      width: 100%;
      text-align: center;
      vertical-align: center;
      background-color: transparent;
      text-decoration: none;
      color: $green1;
      &:hover {
        background-color: transparent;
        text-decoration: none;
        color: $green1;
      }
    }
  }
}
