/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.fs30 {
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}

.fs50 {
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
}

.green {
  color: #367e3d;
}

.mb10 {
  margin-bottom: 40px;
}
