/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "src/assets/styles/colors.scss";

@font-face {
  font-family: almond-cream;
  src: url(assets/fonts/AlmondCream.ttf) format("opentype");
}

@font-face {
  font-family: honey;
  src: url(assets/fonts/Honey.ttf) format("opentype");
}

@font-face {
  font-family: keep-on-truckin;
  src: url(assets/fonts/KeeponTruckin.ttf) format("opentype");
}

@font-face {
  font-family: abuget;
  src: url(assets/fonts/Abuget.ttf) format("opentype");
}

@font-face {
  font-family: avenir-bold;
  src: url(assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
}

@font-face {
  font-family: avenir-regular;
  src: url(assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
}

@font-face {
  font-family: avenir-italic;
  src: url(assets/fonts/AvenirNextLTPro-It.otf) format("opentype");
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-family: avenir-regular;
  min-width: 320px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fs30 {
  font-family: avenir-regular;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}

.fs70 {
  font-family: abuget;
  font-size: 70px;
  font-weight: 500;
  line-height: 60px;
}
.fs25 {
  font-family: abuget;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
}

.right {
  text-align: right;
  padding-right: 40px;
}
.green {
  color: #367e3d;
}

.green1 {
  color: $green1;
}

.mb10 {
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  color: white;
  border: none;
  background-color: $greenbar;
  padding: 8px 0;
  text-align: center;
  min-width: 200px;
  font-size: 20px;
  font-weight: 800;
  border-radius: 14px;

  &:hover {
    text-decoration: none;
    background-color: $green3; //#989191;
    color: white;
  }
  &.disabled {
    background-color: #989191;
  }
}

::ng-deep .mat-raised-button {
  box-shadow: none;
}

.separatore {
  .dot {
    height: 8px;
    width: 8px;
    background-color: #367e3d;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
  }
  &.green1 {
    .dot {
      background-color: $green1;
    }
  }
  &.green2 {
    .dot {
      background-color: $green2;
    }
  }
  &.green3 {
    .dot {
      background-color: $green3;
    }
  }
  &.green4 {
    .dot {
      background-color: $green4;
    }
  }
  &.white {
    .dot {
      background-color: white;
    }
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  &.green1 {
    background-color: $green1;
  }
  &.column {
    flex-direction: column;
  }
}

// for carousels
.picsum-img-wrapper {
  overflow: hidden;
  .myImg {
    width: 100%;
    height: auto;
  }
}

.carousel-item {
  /* Force to always be block */
  display: block !important;
  z-index: 1;
  position: absolute;
  transform: translateX(0);
  opacity: 0;
  transition: all 1s;
  visibility: hidden;
}

.carousel-item.active {
  position: relative;
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
