/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.fs30 {
  font-family: avenir-regular;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}

.fs70 {
  font-family: abuget;
  font-size: 70px;
  font-weight: 500;
  line-height: 60px;
}

.green {
  color: #367e3d;
}

.mb10 {
  margin-bottom: 40px;
}

.button {
  color: white;
  border: none;
  background-color: black;
  padding: 8px 0;
  text-align: center;
  min-width: 200px;
  font-size: 20px;
  font-weight: 800;

  &:hover {
    text-decoration: none;
    background-color: #989191;
    color: white;
  }
}

::ng-deep .mat-raised-button {
  box-shadow: none;
}
@font-face {
  font-family: abuget;
  src: url(assets/fonts/Abuget.ttf) format("opentype");
}
@font-face {
  font-family: avenir-bold;
  src: url(assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype");
}
@font-face {
  font-family: avenir-regular;
  src: url(assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
}
@font-face {
  font-family: avenir-italic;
  src: url(assets/fonts/AvenirNextLTPro-It.otf) format("opentype");
}
