<app-responsive-toolbar></app-responsive-toolbar>
<div class="container1Home">
  <img alt="immagine in montagna" src="../../assets/images/homeImg.jpg" class="backgroundHome" />
</div>
<div class="rettVerde">
  <div class="contBianco">

    <p class="fs30 mb10"> 10 Aprile 2021</p>
    <p class="fs70 green mb10">Simone e Letizia</p>

    <div class="separatore">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <div class="quoted">
      <img src="assets/images/double-quote.svg" class="quote1">
      <img src="assets/images/double-quote.svg" class="quote2">
      <p class="text fs30">
        L'inizio di ogni nostra mossa non è un'analisi di ciò che gli occhi
        vedono, ma un abbraccio di ciò che il cuore attende.<br>(Luigi Giussani)
      </p>
    </div>
  </div>
</div>
<!-- links-->
<div class="container2Home">
  <div class="card">
    <span class="cardTitle">SAVE THE DATE</span>
    <mat-icon svgIcon="calendar"></mat-icon>
    <span class="t1">10 Aprile 2020</span>
    <span class="t2">Inizio celebrazione 10:30</span>
    <a [routerLink]="'/info'" class="button">RSVP</a>
  </div>

  <div class="card">
    <span class="cardTitle">CERIMONIA</span>
    <mat-icon class="icon-display" svgIcon="church" label="10 Aprile 2021"></mat-icon>
    <span class="t1">Santa Maria Goretti</span>
    <span class="t2">Via Vittorio Actis, 20, 10146 Torino TO</span>
    <a href="https://goo.gl/maps/viiADx5rWwoHY1qY6" class="button">Maps</a>
  </div>

  <div class="card">
    <span class="cardTitle">FESTEGGIAMENTI</span>
    <mat-icon svgIcon="party"></mat-icon>
    <span class="t1">Cascina Marinetta</span>
    <span class="t2">Via Bergoglio, 56, 12062 Cherasco CN</span>

    <a href="https://goo.gl/maps/yfgZiwV4a8xNbUpW6" class="button">Maps</a>

  </div>
</div>

<div class="footer"></div>

<!--COUNTDOWN-->
<div class="timer">
  <span>{{ timer }}</span>
</div>
