<app-responsive-toolbar></app-responsive-toolbar>
<div class="container1Home">
  <img alt="immagine in montagna" src="../../assets/images/background_home_try.jpg" class="backgroundHome" />
</div>
<div class="rettVerde">
  <div class="contBianco">
    <p class="fs30 mb10"> 10 Aprile 2021</p>
    <p class="fs50 green mb10">Simone e Letizia</p>
    <p class="fs30">
      L'inizio di ogni nostra mossa non è un'analisi di ciò che gli occhi
      vedono, ma un abbraccio di ciò che il cuore attende. (Luigi Giussani)
    </p>
  </div>
</div>
<div class="container2Home"></div>
<!-- links-->
<div>
  <span>SAVE THE DATE</span>
  <mat-icon svgIcon="calendar"></mat-icon>
  <a mat-raised-button [routerLink]="'/info'" >RSVP</a>
</div>
<div>
  <span>CERIMONIA</span>
  <mat-icon svgIcon="church" label="10 Aprile 2021"></mat-icon>
  <a mat-raised-button href="https://goo.gl/maps/viiADx5rWwoHY1qY6">Maps</a>
  <span></span>
</div>
<div>
  <span>FESTEGGIAMENTI</span>
  <mat-icon svgIcon="party"></mat-icon>
  <a mat-raised-button href="https://goo.gl/maps/yfgZiwV4a8xNbUpW6">Maps</a>
</div>
<div class="timer">
  <span>{{ timer }}</span>
</div>
