.container1Home {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.rettVerde {
  height: 500px;
  width: 100%;
  background-color: #255d40;

  .contBianco {
    display: block;
    padding: 20px;
    background-color: #fff;
    width: 40%;
    height: 500px;
    position: relative;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    text-align: center;
    overflow: hidden;
  }
}
