@import "src/assets/styles/colors.scss";

.page {
  display: flex;
  height: 1000px;
  width: 100%;
  background-color: $green4;
  padding: 30px;
  margin-top: 20px;
  .left {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
  }

  .right {
    display: flex;
    width: 50%;
    height: 100%;
    // background-color: blue;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
  }

  .boxTesto {
    font-family: avenir-regular;
    font-size: 28px;
    line-height: 150%;
    position: absolute;
    background-color: white;
    width: 600px;
    transform: translate(50%, -40px);
    right: 50%;
    padding: 20px;
    text-align: center;
    border: 4px solid $green1;
    z-index: 100;

    .fs70 {
      margin-top: 20px !important;
    }
    .aDestra {
      position: absolute;
      right: 70px;
    }
  }

  .photoContainer {
    width: 100%;
    height: 48%;
    border: 2px solid $green1;
    overflow: hidden;
    &:first-child {
      width: 50%;
    }
  }
}

::ng-deep {
  .carousel-item {
    /* Force to always be block */
    display: block !important;
    z-index: 1;
    position: absolute;
    transform: translateX(0);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 1s;
    visibility: hidden;
  }

  .carousel-item.active {
    position: relative;
    transform: translateX(0);
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 1s;
    opacity: 1;
  }
}
