<app-responsive-toolbar></app-responsive-toolbar>
<div class="page">
  <div class="left">
    <div class="photoContainer">
      <ngb-carousel #carouselTL *ngIf="ImageData4" [showNavigationArrows]="showNavigationArrows"
        [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of ImageData4">
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random slide" class="myImg">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>

    <div class="photoContainer">
      <ngb-carousel #carouselBL *ngIf="ImageData2" [showNavigationArrows]="showNavigationArrows"
        [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of ImageData2">
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random slide" class="myImg">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <div class="right">
    <div class="photoContainer">
      <ngb-carousel #carouselTR *ngIf="ImageData3" [showNavigationArrows]="showNavigationArrows"
        [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of ImageData3">
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random slide" class="myImg">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>

    <div class="photoContainer">
      <ngb-carousel #carouselBR *ngIf="ImageData1" [showNavigationArrows]="showNavigationArrows"
        [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of ImageData1">
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random slide" class="myImg">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>

  <div class="boxTesto">
    <div class="separatore green1">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
    <span>
      «Occorre solo che abbiamo a camminare
      insieme, seguendo il Mistero che fa tutto»</span><br>
    <span>
      Luigi Giussani</span><br><br>
    <span>
      Nell’aderire con gioia alla nostra vocazione, abbiamo a mente il volto amico di ciascuno di voi e ne siamo
      immensamente grati.<br>
      Ci auguriamo di vedervi tutti per festeggiare insieme!</span><br>
    <p class="fs70 green1 mb10">Simo e Leti</p>
  </div>

</div>
